body {
  background-color: #373736;
  font-family: "Helvetica", Arial, sans-serif;
}

h1 {
  font-family: "Montserrat Extra Light", "Helvetica", sans-serif;
  color: #e6b33e;
  font-size: 69;
}

nav li {
  display: inline-block;
}

nav a {
  color: #d6d0c8;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  text-decoration: double;
}
