header {
  background-color: #1b1b1b;
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 270px;
}

.logo {
  max-width: 200px;
}

main {
  background-color: #373736;
  font-family: Montserrat, Helvetica, sans-serif;
}

h1 {
  font-family: Montserrat, Helvetica, sans-serif;
  color: #e6b33e;
  font-size: 2em;
}

h2 {
  font-family: Montserrat, sans-serif;
  color: #d6d0c8;
}

h3 {
  font-family: Montserrat, sans-serif;
  color: #d6d0c8;
}

p {
  font-family: Roboto, sans-serif;
  color: #d6d0c8;
}

nav li {
  display: inline-block;
}

nav a {
  color: #d6d0c8;
  text-decoration: none;
  padding: 1em;
}

nav a:hover {
  text-decoration: double;
}

.active {
  text-decoration: underline;
}

.action {
  display: inline;
}

.film {
  max-width: 150px;
  border-width: 50px;
}

.film-big {
  max-width: 500px;
}

img {
  max-width: 200px;
  float: left;
  margin-right: 200;
}
