html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  margin: 0;
}

.loader {
  border: 10px solid #1b1b1b;
  border-top: 10px solid #a27201;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header {
  width: 100%;
  height: 100px;
  display: block;
  background-color: #1b1b1b;
  padding: 0px;
}

header .right-nav {
  color: #d6d0c8;
  font-size: 1em;
  float: right;
  font-size: 20px;
  font-family: roboto, sans-serif;
}

header .logo {
  max-width: 35%;
  margin-top: 0;
  max-height: 100px;
}

.navbar {
  overflow: hidden;
  background-color: #1b1b1b;
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: roboto, sans-serif;
  font-size: 15px;
  text-align: center;
}

.navbar ul {
  margin: auto;
  padding: 15px;
}

nav li {
  display: inline-block;
}

nav a {
  color: #d6d0c8;
  text-decoration: none;
  padding: 1em;
  overflow: hidden;
  display: block;
  float: left;
  padding: 5px 10px;
}

nav a:hover {
  font-weight: 900;
}

.right-nav {
  font-size: 1.5em;
}

.active {
  text-decoration: underline 2px #a27201;
  text-underline-position: under;
  font-weight: 500;
}

main {
  font-family: Montserrat, Helvetica, sans-serif;
  background-color: #282827;
}

.heading-content {
  padding: 10px;
  background-color: #282827;
}

.h1-subtext {
  text-align: center;
}

h1 {
  font-family: Montserrat, Helvetica, sans-serif;
  color: #e6b33e;
  font-size: 2em;
  text-align: center;
  font-weight: 100;
  margin: 5px;
}

h2 {
  font-family: Montserrat, sans-serif;
  color: #d6d0c8;
}

.films-h2 {
  margin-top: 3%;
}

h3 {
  font-family: Montserrat, sans-serif;
  color: #d6d0c8;
}

p {
  font-family: Roboto, sans-serif;
  color: #d6d0c8;
}

.arrow-icon {
  display: none;
}

.films-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
}

.films-grid a {
  font-family: roboto, sans-serif;
  color: #d6d0c8;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.new-releases {
  display: flex;
  align-items: center;
}

.film-big {
  width: 98%;
  margin: 1%;
}

.circle {
  opacity: 0.5;
}

.active-circle,
.circle {
  color: #a27201;
  font-size: 0.5em;
  padding: 4px;
}

.circle-section {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 0 0 5% 0;
}

.filmCard {
  padding: 0;
  width: 11rem;
  margin: 5px;
  border-radius: 5px;
}

#filmCardBig {
  width: unset;
}

.hide {
  display: none;
}

.filmCard img {
  border-radius: 2px;
  width: 100%;
  opacity: 0.9;
  box-shadow: 0 3px 4px 0 #1b1b1b, 0 4px 15px 0 #1b1b1b;
}

.filmCard img:hover {
  opacity: unset;
}

.filmCard:hover {
  transform: scale(1.02);
  transition: all 0.5s;
}

.cardTitle {
  width: 80%;
  margin: 2px;
  font-size: 13px;
}

.cardProducer {
  display: none;
}

.filmInfo {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #a27201;
  flex-wrap: wrap;
  width: 100%;
}

.filmCardBody {
  padding: 0 5px 5px 10px;
}

.film {
  max-width: 100%;
  border-width: 50px;
}
.drama,
.documentary,
.action {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  margin-top: -16px;
  width: 100%;
}

.results {
  display: flex;
  flex-wrap: wrap;
  max-width: 945px;
  justify-content: center;
  margin-bottom: 6%;
  gap: 24px;
}

.action-section {
  margin-bottom: 6%;
}

footer {
  background-color: #1b1b1b;
  width: 100%;
  bottom: 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-items: center;
}

footer .logo2 {
  height: 46px;
  padding: 10px;
}

footer .fas {
  font-size: 22px;
}

.footer-nav {
  display: none;
}

footer a {
  text-decoration: none;
  color: #d6d0c8;
}

@media (min-width: 500px) {
  .filmCard {
    width: 13rem;
  }

  #filmCardBig {
    width: 27rem;
  }

  .cardProducer {
    margin: 5px 0 0 5px;
    display: block;
  }

  .cardTitle {
    font-size: unset;
  }
}

@media (min-width: 700px) {
  .arrow-icon {
    font-size: 50px;
    color: #a27201;
    opacity: 0.5;
    display: block;
  }

  .film {
    max-width: 150px;
  }

  .film-big {
    max-width: 500px;
    margin: auto;
  }

  .drama,
  .documentary,
  .action {
    width: auto;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 10px;
  }

  #filmCardBig {
    width: 37.2rem;
    height: 20rem;
  }

  #filmImageBig {
    height: 20rem;
  }

  .hide {
    display: block;
  }
}

@media (min-width: 900px) {
  header .logo {
    max-width: unset;
    max-height: 100px;
    margin-top: 0;
    float: left;
  }

  .navbar {
    font-size: 20px;
    text-align: unset;
  }

  .navbar ul {
    margin-left: 80px;
  }

  h1 {
    font-size: 3em;
  }

  .content-wrap {
    max-width: 1200px;
    margin: 0 auto;
  }

  #filmCardBig {
    width: 39.2rem;
    height: 22rem;
  }

  #filmImageBig {
    height: 22rem;
  }

  .footer-nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    font-size: 12px;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
  }

  .footer-grid {
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1100px) {
  .heading-content {
    padding-top: 40px;
  }
}
