header {
  background-color: #1b1b1b;
  background-size: contain;
  background-repeat: no-repeat;
  border-top: 1px;
  margin-top: -1px;
}

header .right-nav {
  color: #d6d0c8;
  font-size: 1em;
  float: right;
  margin: 0;
}

.logo {
  max-height: 100px;
  margin-top: 0;
  float: left;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  margin: 0;
}

main {
  background-color: #373736;
}

.index-picture2 {
  max-width: 100%;
}

h1 {
  font-family: Montserrat, Helvetica, sans-serif;
  color: #a27201;
  font-size: 3em;
  margin: -70px 0 0 0;
}

h2 {
  font-family: Montserrat, sans-serif;
  color: #e6b33e;
  font-size: 2em;
}

h3 {
  font-family: Montserrat, sans-serif;
  color: #a27201;
  font-size: 2em;
}

h4 {
  font-family: Montserrat, sans-serif;
  color: #e6b33e;
  font-size: 2em;
}

p {
  font-family: Roboto, sans-serif;
  color: #d6d0c8;
  font-size: 1em;
}

nav li {
  display: inline-block;
}

nav a {
  color: #d6d0c8;
  text-decoration: none;
  padding: 1em;
}

nav a:hover {
  text-decoration: double;
}

.active {
  text-decoration: underline;
}

.index-picture {
  max-width: 100px;
  float: right;
  border-radius: 50%;
}

.content-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0 50px 0;
}

.index-section2 {
  width: 700px;
  height: 200px;
  padding: 40px;
  background: #282827;
  margin-top: -50px;
}
