header {
  width: 100%;
  height: 100px;
  display: block;
  background-color: #1b1b1b;
  padding: 0px;
}

header .right-nav {
  color: #d6d0c8;
  font-size: 1em;
  float: right;
  margin: 0;
}

header .logo {
  max-height: 100%;
  margin-top: 0;
  float: left;
}

.navbar {
  overflow: hidden;
  background-color: #1b1b1b;
  position: sticky;
  top: 0;
}

nav li {
  display: inline-block;
}

nav a {
  color: #d6d0c8;
  text-decoration: none;
  padding: 1em;
  overflow: hidden;
  display: block;
  float: left;
  padding: 5px 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: double;
}

.active {
  text-decoration: underline;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  margin: 0;
}

main {
  background-color: #373736;
}

.index-picture2 {
  max-width: 100%;
  margin-top: 0px;
}

h1 {
  font-family: Montserrat, Helvetica, sans-serif;
  color: #a27201;
  font-size: 3em;
  margin: -70px 0 0 0;
}

h2 {
  font-family: Montserrat, sans-serif;
  color: #e6b33e;
  font-size: 2em;
  margin-top: 0;
}

h3 {
  font-family: Montserrat, sans-serif;
  color: #a27201;
  font-size: 2em;
}

h4 {
  font-family: Montserrat, sans-serif;
  color: #e6b33e;
  font-size: 2em;
}

p {
  font-family: Roboto, sans-serif;
  color: #d6d0c8;
  font-size: 1em;
}

.index-picture {
  max-width: 100px;
  float: right;
  border-radius: 50%;
}

.content-wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

.index-section2 {
  width: 700px;
  height: 130px;
  padding: 40px;
  background: #282827;
  margin-top: -50px;
  border-radius: 0px 0px 10px 10px;
}
