header {
  background-color: #1b1b1b;
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 270px;
  margin: 0px;
  border: 0px;
}

.right-menu {
  display: inline-block;
  color: #d6d0c8;
  font-size: 1em;
}

.logo {
  max-width: 200px;
}

main {
  background-color: #373736;
  font-family: Montserrat, Helvetica, sans-serif;
  background-image: url("images/watchingfilm.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

h1 {
  font-family: Montserrat, Helvetica, sans-serif;
  color: #a27201;
  font-size: 3em;
}

h2 {
  font-family: Montserrat, sans-serif;
  color: #e6b33e;
  font-size: 2em;
}

h3 {
  font-family: Montserrat, sans-serif;
  color: #a27201;
  font-size: 2em;
}

h4 {
  font-family: Montserrat, sans-serif;
  color: #e6b33e;
  font-size: 2em;
}

p {
  font-family: Roboto, sans-serif;
  color: #d6d0c8;
  font-size: 1em;
}

nav li {
  display: inline-block;
}

nav a {
  color: #d6d0c8;
  text-decoration: none;
  padding: 1em;
}

nav a:hover {
  text-decoration: double;
}

.active {
  text-decoration: underline;
}

.index-picture {
  max-width: 100px;
  float: right;
  border-radius: 50%;
}
