body {
  background-color: #282827;
  font-family: Montserrat, Helvetica, sans-serif;
}

h1 {
  font-family: Montserrat, Helvetica, sans-serif;
  color: #373736;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  margin: 2%;
}

p {
  font-family: Roboto, sans-serif;
  color: #a27201;
  text-align: center;
  font-style: italic;
  font-weight: 200;
  font-size: 12px;
  margin: 1%;
}

.back-icon {
  font-size: 40px;
  margin: 4%;
  float: left;
}

a {
  font-family: Roboto, sans-serif;
  color: #d6d0c8;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  margin: 1%;
}

.button1 {
  padding: 8px;
  border-radius: 5px;
  background-color: #a27201;
  font-family: sans-serif;
  border: solid #a27201;
  color: #d6d0c8;
  text-decoration: none;
  display: block;
  margin: auto;
}

label {
  font-family: roboto;
  color: #373736;
}

.popup-section {
  padding: 14px;
  background-color: #d6d0c8;
  margin: auto;
  border: solid 1px #a27201;
  border-radius: 10px;
  margin: 20% 10%;
  min-width: 250px;
  max-width: 380px;
}

.search-input {
  border: solid 1px #a27201;
  border-radius: 5px 0 0 5px;
  padding: 3%;
  width: 200px;
}

.search-button {
  color: #d6d0c8;
  text-decoration: none;
  background-color: #a27201;
  border: solid 1px #a27201;
  border-radius: 0 5px 5px 0;
  width: 70px;
}

.search-icon {
  font-size: 20px;
}

.login-input {
  border: solid 1px #a27201;
  border-radius: 5px;
  padding: 2%;
}

.not-a-member a {
  color: #3e73e6;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  margin-inline: 20%;
}

.film-big {
  max-width: 100%;
  position: relative;
}

.film-section {
  max-width: 90%;
  border: solid 1px #a27201;
  border-radius: 10px;
  padding: 20px;
  margin: 4%;
}

.play-icon {
  position: absolute;
  font-size: 100px;
  margin-top: -35%;
  margin-left: 30%;
  opacity: 0.7;
}

.play-icon :hover {
  opacity: 1;
}

.form-error {
  color: darkred;
  font-size: 0.5rem;
  display: none;
}

@media (min-width: 900px) {
  h1 {
    font-size: 3em;
  }

  .popup-section {
    margin: 10% 32%;
    width: 380px;
  }

  .film-section {
    max-width: 700px;
    margin: auto;
  }

  .play-icon {
    margin-top: -250px;
    margin-left: 320px;
  }
}
